﻿@font-face {
    font-family: 'AaarghNormal';
    src: url('Aaargh-webfont.eot');
    src: url('Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aaargh-webfont.woff') format('woff'),
         url('Aaargh-webfont.ttf') format('truetype'),
         url('Aaargh-webfont.svg#AaarghNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HVDComicSerifProRegular';
    src: url('HVD_Comic_Serif_Pro-webfont.eot');
    src: url('HVD_Comic_Serif_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('HVD_Comic_Serif_Pro-webfont.woff') format('woff'),
         url('HVD_Comic_Serif_Pro-webfont.ttf') format('truetype'),
         url('HVD_Comic_Serif_Pro-webfont.svg#HVDComicSerifProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-image: url('debut_light.png');
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	border: 1px gray solid;
	padding: 16px;
	font-family: AaarghNormal, Arial, sans-serif;
	font-weight: normal;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: HVDComicSerifProRegular, Arial, sans-serif;
	font-weight: normal;
	color: black;
}
